main > div {
    background-color: #1d1d1d;
    height: fit-content;
    padding: 20px;
    width: 80%;
    margin-inline: auto;
    border-block: 1px solid gray;
}

main {
    padding-top: 20px;
}

main #change-log {
    margin-top: 20px;
}

main .section-header {
    font-weight: normal;
    font-size: 30px;
    text-decoration: underline;
}

main .section-text {
    font-size: 22px;
    margin-left: 10px;
}

main a {
    color: rgb(201, 201, 201);
}

main #change-log .changelog-header {
    font-weight: normal;
    font-size: 26px;
    text-decoration: underline;
    margin-left: 10px;
    padding-bottom: 20px;
}

main #change-log .changelog-text {
    font-size: 20px;
    margin-left: 15px;
}